<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="cordova-sumup-plugin"
        version="2.0.0">
    <name>SumUp</name>
    <author>mariusbackes</author>
    <description>
        Cordova plugin for SumUp SDK integration
    </description>
    <license>MIT</license>
    <repo>https://github.com/mariusbackes/cordova-plugin-sumup.git</repo>
    <issue>https://github.com/mariusbackes/cordova-plugin-sumup/issues</issue>
    <keywords>
        sumup, creditcard, debitcard, nfc, card, terminal, pay
    </keywords>

    <engines>
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>

    <js-module src="www/sumup.js" name="SumUp">
        <clobbers target="window.SumUp"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <preference name="SUMUP_API_KEY" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SumUp" >
                <param name="android-package" value="de.mariusbackes.cordova.sumup.SumUp" />
            </feature>
        </config-file>
        <config-file target="./res/values/strings.xml" parent="/resources">
            <string name="SUMUP_API_KEY">$SUMUP_API_KEY</string>
        </config-file>
        <source-file src="src/android/SumUp.java" target-dir="src/de/mariusbackes/cordova/sumup" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SumUp">
                <param name="ios-package" value="SumUp"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>To provide a secure service, we need to know your location. Without location information, you cannot use SumUp.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>The app needs to connect to Bluetooth peripherals to detect the SumUp Card Terminal correctly. Please confirm with OK as you cannot use your card reader otherwise.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>The app needs to access the microphone of your audio jack in order for the SumUp Card Reader to be detected correctly. Please confirm with OK as you cannot use your card reader otherwise.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="SUMUP_API_KEY">
            <string>$SUMUP_API_KEY</string>
        </config-file>
        <source-file src="src/ios/SumUp.swift" />
        <preference name="SUMUP_API_KEY" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <framework src="SumUpSDK" type="podspec" spec="~> 4.1.1" />
    </platform>
</plugin>
